/* CSS del header */
.header {
    background-color: white;
    height: 100px;
    padding: 20px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
}

.header .container {
    max-width: auto;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
}

.header__logo img{
    width: 100px;
    height: auto;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    font-family: 'Arvo', serif;
}

.header__menu ul {
    display: flex;
}

.header__menu ul li {
    margin: 0 5px;
}

/* Inicio Submenu */
.header__menu ul li ul.submenu {
    display: none;
}
.header__menu ul li:hover ul.submenu {
    display: block;
    position: absolute;
    background-color: deepskyblue;
    padding: 5px;
}

.header__menu ul li a{
    text-decoration: none;
    color: black;
}

.header__menu ul li a:hover {
    text-decoration: underline;
    color: green;
}

/* CSS del Body Index*/
.pilares {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #FAF1E6;
    text-align: center;
}

.pilares__titulo {
    font-size: larger;
    font-family: 'Arvo', serif;
}

.pilares__texto {
    padding: 5px;
    font-family: 'Hind', sans-serif;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    background-color: #FAF1E6;

}

.productos img {
    width: 350px;
    height: auto;
    padding: 5px;
    border-radius: 7%;
}

.productos__titulo {
    font-size: larger;
    font-family: 'Arvo', serif;
}

.productos__texto {
    padding: 20px;
    font-family: 'Hind', sans-serif;
}

.video__tutoriales {
    text-align: center;
    height: 800px;
    background-color: #FAF1E6;
}

.video__tutoriales__titulo {
    padding: 20px;
    font-size: larger;
    font-family: 'Arvo', serif;
}

.video__tutoriales__texto {
    padding: 20px;
    font-family: 'Hind', sans-serif;
}

/* CSS de Productos */

caption {
    padding: 5px;
    font-family: 'Arvo', serif;
}

.tabla {
    padding-left: 10px;
    padding-right: 10px;
    height: 600px;
    background-color: #FAF1E6;
}

table {
    padding: 10px;
    table-layout: fixed;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
    border: 3px solid purple;
}

td {
    border: 1px solid blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Hind', sans-serif;
}

th{
    border: 1px solid blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Hind', sans-serif;
}

/* CSS de Noticias */

.noticias {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 700px;
    background-color: #FAF1E6;
}

.noticias__titulo {
    padding: 20px;
    font-size: larger;
    font-family: 'Arvo', serif;
}

.noticias__subtitulo {
    padding: 20px;
    font-family: 'Hind', sans-serif;
}

.noticias__texto {
    padding: 20px;
    font-family: 'Hind', sans-serif;
}


/* CSS de Sobre_Nosotros */

.nosotros {
    height: 1000px;
    background-color: #FAF1E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nosotros img {
    height: auto;
    width: 350px;
    border-radius: 5%;
}

.nosotros__titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    font-family: 'Arvo', serif;
}

.nosotros__texto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    font-family: 'Hind', sans-serif;
}

/* CSS de Contacto */

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 10px;
    /* Background con un gradient */
    background: rgb(250,241,230);
    background: linear-gradient(180deg, rgba(250,241,230,1) 35%, rgba(1,147,124,1) 100%);
}

.boton {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.boton1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
  
.boton1:hover {
    background-color: #4CAF50;
    color: white;
}
  
.boton2 {
    background-color: white; 
    color: black; 
    border: 2px solid #01937C;
}
  
.boton2:hover {
    background-color: #01937C;
    color: white;
}

/* CSS del Footer */

.footer {
    padding: 10px;
    background-color: #01937C;
    border-top: 2px black;
    display: flex;
    justify-content: space-evenly;
}

.footer__titulos {
    font-size: medium;
    font-family: 'Arvo', serif;
}

.footer__texto {
    font-family: 'Hind', sans-serif;
}

.footer__direccion {
    display: flex;
    flex-direction: column;
    font-family: 'Arvo', serif;
}

.footer__links__utiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.footer__redes__sociales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.footer__links__utiles ul li{
    padding: 3px;
}

.footer__redes__sociales ul li{
    padding: 5px;
}
